// Font Mixins
@mixin serif-font {
    font-family: 'Comfortaa', 'Kiwi Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin script-font {
font-family: 'Comfortaa', 'Kiwi Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin body-font {
font-family: 'Comfortaa', 'Kiwi Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin heading-font {
font-family: 'Comfortaa', 'Kiwi Maru', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact {
    background-color: red;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .form-group textarea.form-control {
    height: 158px !important;
}


header.masthead .intro-text .intro-heading {
    font-weight: 300 !important;
    // color: red;
}